pkgbase = proton-pass-bin
	pkgdesc = Open-source password manager for effortless protection. Securely store, share and auto-login your accounts with Proton Pass, using end-to-end encryption trusted by millions.
	pkgver = 1.20.0
	pkgrel = 1
	url = https://proton.me/pass
	arch = x86_64
	groups = ProtonPass
	conflicts = proton-pass
	conflicts = protonpass
	replaces = proton-pass
	replaces = protonpass
	source = https://proton.me/download/PassDesktop/linux/x64/ProtonPass_1.20.0.deb
	sha256sums = c87d094fec7c3dbe9a74de7650519f4e95b7fb42e69f285f16c55282b315958b

pkgname = proton-pass-bin
